@font-face {font-family: "Land Rover Web Bold";
src:url("https://res.cloudinary.com/dvt6kjlil/raw/upload/v1620287210/Fonts/Land_Rover_Web_Bold_js7cxt.woff") format("woff");
}

@font-face {font-family: "Avenir LT Pro 35 Light"; 
src: url("https://res.cloudinary.com/dvt6kjlil/raw/upload/v1620287210/Fonts/Avenir_LT_Pro_35_Light_zxspt6.woff") format("woff");
}
/*JUST FOR TESTING, BAD ACCESSIBILITY PRACTICE*/
*:focus{
    outline: none !important;
}

:root {
  --font-heading: 'Land Rover Web Bold';
  --font-face: 'Avenir LT Pro 35 Light';
}
.lpc_desktop.lpc_body {
    background: #E9ECEC !important;
}
.lpc_desktop.lpc_window_maximized {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2) !important;
}

.lpc_desktop.lpc_message-area {
    padding: 0 20px 4px !important;
}

.lpc_desktop.lpc_window_minimized {
    height: 50px !important;
}

.lpc_desktop.lpc_minimized-header__notification-counter {
    margin-top: 13px !important;
}

.lpc_desktop.lpc_window_maximized,
.lpc_desktop.lpc_window_minimized {
    width: 350px !important;
    border: none !important;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2) !important;
    overflow: hidden;
}

.lpc_desktop.lpc_maximized-header,
.lpc_desktop.lpc_minimized-header {
    border: none!important;
    background: #005A2B !important;
    height: 35px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.lpc_desktop.lpc_minimized-header__text,
.lpc_desktop.lpc_maximized-header__text {
    color: #fff !important;
    font-family: var(--font-heading) !important;
    font-weight: 100 !important;
    font-size: 16px !important;
    margin-top: 0px !important;
    margin-left: 85px !important;
}

.lpc_desktop.lpc_minimized-header__text {
    margin-left: 85px !important;
}

/*Chat bubble Icon*/

#lpChat .lpc_desktop.lpc_maximized-header__icon,
#lpChat .lpc_desktop.lpc_minimized-header__icon {
    background-image: url("https://res.cloudinary.com/dvt6kjlil/image/upload/v1619721669/logo-large-2x_cscgbc.webp") !important;
    background-repeat: no-repeat !important;
    background-position: 0px 0px !important;
    background-size: contain !important;
    height: 26px !important;
    width: 50px !important;
    margin-top: -5px !important;
}

.lpc_desktop.lpc_maximized-header__icon-asset,
.lpc_desktop.lpc_minimized-header__icon-asset {
    display: none !important;
}

.lpc_desktop.lpc_maximized-header__slider-button {
    height: 36px !important;
}

.lpc_desktop.lpc_maximized-header__slider-button:focus {
    outline: none !important;
}

.lpc_desktop.lpc_maximized-header__slider-button {
    background-image: url("https://www.liveperson.com/sites/default/files/dots-white.png") !important;
    background-repeat: no-repeat !important;
    background-position: 2px 3px !important;
    background-size: 25px !important;
    height: 30px !important;
    width: 30px !important;
}

.lpc_desktop.lpc_maximized-header__slider-button-asset,
.lpc_desktop.lpc_maximized-header__slider-button-asset {
    display: none;
}

.lpc_desktop.lpc_maximized-header__minimize-button,
.lpc_desktop.lpc_maximized-header__close-button,
.lpc_desktop.lpc_minimized-header__close-button{
    margin-right: 5px !important;
}

.lpc_desktop.lpc_minimized-header__maximize-button,
.lpc_desktop.lpc_minimized-header__close-button,
.lpc_desktop.lpc_maximized-header__minimize-button,
.lpc_desktop.lpc_maximized-header__close-button {
    margin-right: 5px !important;
    height: 30px !important;
    width: 30px !important;
}

.lpc_desktop.lpc_minimized-header__maximize-button:focus,
.lpc_desktop.lpc_minimized-header__close-button:focus,
.lpc_desktop.lpc_maximized-header__minimize-button:focus ,
.lpc_desktop.lpc_maximized-header__close-button:focus {
    outline: none !important;
}

.lpc_desktop.lpc_maximized-header__minimize-button {
    background-image: url("https://res.cloudinary.com/dvt6kjlil/image/upload/v1620214995/minus-white_npbwll.png") !important;
    background-repeat: no-repeat !important;
    background-position: 8px 5px !important;
    background-size: 16px !important;
    height: 25px !important;
}

.lpc_desktop.lpc_maximized-header__minimize-button-asset {
    display: none;
}

.lpc_desktop.lpc_minimized-header__maximize-button {
    background-image: url("https://res.cloudinary.com/dvt6kjlil/image/upload/v1620214995/expand-white_qwbt80.png") !important;
    background-repeat: no-repeat !important;
    background-position: 8px 5px !important;
    background-size: 16px !important;
    height: 30px !important;
}

.lpc_desktop.lpc_minimized-header__maximize-button-asset {
    display: none;
}

.lpc_desktop.lpc_maximized-header__close-button,
.lpc_desktop.lpc_minimized-header__close-button {
    background-image: url("https://res.cloudinary.com/dvt6kjlil/image/upload/v1620214995/close-white_rcoes4.png") !important;
    background-repeat: no-repeat !important;
    background-position: 8px 10px !important;
    background-size: 16px !important;
    height: 40px !important;
}
.lpc_desktop.lpc_maximized-header__close-button-asset,
.lpc_desktop.lpc_minimized-header__close-button-asset {
    display: none !important;
}

.lpc_desktop.lpc_window_maximized {
    height: 600px !important;
    border-radius: 0px !important;
    margin-bottom: 15px !important;
    max-height: calc(100% - 15px) !important;
}

.lpc_desktop.lpc_layout {
    background: #E9ECEC !important;
}

.lpc_desktop.lpc_maximized-header {
    border: none !important;
}

.lpc_desktop.lpc_window_slider-open {
    width: 1350px !important;
}

.lpc_desktop.lpc_body_slider-open,
.lpc_desktop.lpc_maximized-header_slider-open {
    width: 350px !important;
}

.lpc_desktop.lpc_slider {
    height: 650px !important;
    width: 1000px !important;
    right: 350px !important;
    max-height: calc(100% - 15px) !important;
}

.lpc_desktop.lpc_slider__body {
    top: 50px !important;
    box-shadow: none !important;
    border-right: 1px solid #E9ECEC;
}

.lpc_desktop.lpc_slider-header {
    box-shadow: none !important;
    background: #005A2B !important;
    border-radius: 0 !important;
    height: 50px !important;
    border: none !important;
}

.lpc_desktop.lpc_slider-header__minimize-button {
    background-image: url("https://res.cloudinary.com/dvt6kjlil/image/upload/v1620214995/expand-white_qwbt80.png") !important;
    background-repeat: no-repeat !important;
    background-position: 0 10px !important;
    background-size: 16px !important;
    height: 40px !important;
    -webkit-transform: rotate(90deg) !important;
    -moz-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}

.lpc_desktop.lpc_slider-header__minimize-button:focus {
    outline: none;
}

.lpc_desktop.lpc_slider-header__minimize-button-asset {
    display: none;
}

.lpc_desktop.lpc_slider-header__refresh-button {
    top: 10px !important;
    left: 10px !important;
    background-repeat: no-repeat;
    background-position: 2px 3px;
    background-size: 20px;
    height: 30px !important;
    width: 30px !important;
}

.lpc_desktop.lpc_slider-header__refresh-button:focus {
    outline: none;
}

.lpc_desktop.lpc_body {
    top: 35px !important;
    overflow: hidden !important;
    border: none !important;
}

.lpc_desktop.lpc_banner-image-area {
    height: auto !important;
    border: none !important;
    padding-top: 0 !important;
}

.lpc_desktop.lpc_banner-image-area__image-wrapper{
    height: auto !important;
    border: none !important;
    padding-top: 0 !important;
}

.lpc_desktop.lpc_banner-image-area__link {
    height: auto !important;
    margin: 0 !important;
    border: none !important;
}

.lpc_desktop.lpc_banner-image-area__image {
    width: 77px !important;
}
.lpc_desktop.lpc_message-area__timestamp {
    margin-top: 10px !important;
    color: #4A4F54 !important;
    font-family: var(--font-face) !important;
}

.lpc_desktop.lpc_message-area_system {
    margin-left: -2px;
}

.lpc_desktop.lpc_message-area_system,
.lpc_desktop.lpc_message_sytem {
    text-align: left !important;
}

.lpc_desktop.lpc_message-area__timestamp_system {
    text-align: left !important;
    color: #4A4F54 !important;
}

.lpc_desktop.lpc_message-area__timestamp_agent {
    padding: 0px 0px 0px 0px !important;
    color: #4A4F54 !important;
    margin-left: 4px !important;
}

.lpc_desktop.lpc_message_agent {
    background: #fff !important;
    border: none !important;
    padding: 7px !important;
    border-radius: 0px 5px 5px 5px !important;
}

.lpc_desktop.lpc_message__text,
.lpc_desktop.lpc_message_agent__text p {
    color: #333 !important;
    font-family: var(--font-face) !important;
}
.lpc_desktop.lpc_message_agent a{
    color: blue !important;
    text-decoration: none !important;
}

.lpc_desktop.lpc_message_agent a:visited{
    color: purple !important;
}

.lpc_desktop.lpc_message__text_agent strong,
.lpc_desktop.lpc_message__text_agent p strong,
.lpc_desktop.lpc_message__text_agent b,
.lpc_desktop.lpc_message__text_agent p b {
    font-weight: 600 !important;
}

/*------AGENT TAIL----------*/

.lpc_desktop.lpc_message__text_agent:after {
    background: url("https://res.cloudinary.com/dvt6kjlil/image/upload/v1620379802/Tails/agent-tail-white_ef0du2.svg") no-repeat;
    display: block;
    content: ' ';
    width: 10px;
    height: 100%;
    position: absolute;
    margin-left: -16px;
    bottom: 0px;
    margin-top: -10px;
    /*
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    transform: scaleY(-1);
    */
}

/*------USER CHAT TAIL---------*/

.lpc_desktop.lpc_message__text_visitor:after {
    background: url(https://res.cloudinary.com/dvt6kjlil/image/upload/v1620388184/Tails/visitor-tail-green_ev7k5b.svg) no-repeat;
    display: block;
    content: ' ';
    width: 10px;
    height: 7px;
    position: absolute;
    bottom: 100%;
    right: -13px;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
}

.lpc_desktop.lpc_message-area_agent {
    padding: 0 10px 4px !important;
}

.lpc_desktop.lpc_message-area__avatar_agent {
    width: 20px !important;
    height: 20px !important;
    border-radius: 0!important;
}

.lpc_desktop.lpc_card {
    border: 1px solid #fff !important;
    border-radius: 5px 5px 5px 5px !important;
    overflow: hidden !important;
    max-width: none !important;
    margin-left: -7px !important;
}

.lpc_desktop.lpc_card__text {
    background: #fff !important;
    padding: 7px !important;
}

.lpc_desktop.lpc_card__text span {
    font-weight: normal !important;
    color: #333 !important;
}

.lpc_desktop.lpc_card__button {
    border-top: 1px solid #E9ECEC !important;
}

.lpc_desktop.lpc_card__button button {
    background: #fff !important;
    margin-bottom: 0 !important;
    color: blue !important;
    -webkit-transition: all 0.1s ease !important; /* Safari and Chrome */
    -moz-transition: all 0.1s ease !important; /* Firefox */
    transition: all 0.1s ease !important;
}

.lpc_desktop.lpc_card__button button:focus {
    outline: none !important;
}

.lpc_desktop.lpc_card__button button:hover {
    background: #F8F9F9 !important;
    cursor: pointer !important;
    -webkit-transform: scale(1.02) !important;
    -moz-transform: scale(1.02) !important;
    transform: scale(1.02) !important;
}

.lpc_desktop.lpc_message-tail_agent,
.lpc_desktop.lpc_message-tail__border_agent {
    display: none !important;
}

.lpc_desktop.lpc_message_visitor {
    border: none !important;
    background: #005A2B !important;
    padding: 7px !important;
    border-radius: 5px 0px 5px 5px  !important;
}

.lpc_desktop.lpc_message__text_visitor,
.lpc_desktop.lpc_message__text_visitor p {
    color: #ffffff !important;
    font-family: var(--font-face) !important;
}

.lpc_desktop.lpc_message_card {
    background: unset !important;
}

.lpc_desktop.lpc_message__text_card:after {
    background: unset !important;
}

.lpc_desktop.lpc_message-tail__border_visitor,
.lpc_desktop.lpc_message-tail_visitor {
    display: none !important;
}

.lpc_desktop.lpc_composer {
    height: 35px !important;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2) !important;
    border-top: none !important;
    overflow: hidden !important;
}

.lpc_desktop.lpc_composer__text-area-wrapper {
    padding: 10px 0 !important;
}

.lpc_desktop.lpc_composer__text-area {
    font-size: 14px !important;
    font-family: var(--font-face) !important;
}

.lpc_desktop.lpc_composer__text-area:focus {
    outline: none !important;
}

.lpc_desktop.lpc_composer__text-area::placeholder {
    font-style: normal !important;
    color: #b1b0b0 !important;
}

.lpc_desktop.lpc_composer__menu-button {
    top: 14px !important;
}
/*Menu button End Conversation, Clear History, Mute*/

.lpc_desktop.lpc_maximized-header__menu-button{
    background-image: url(https://res.cloudinary.com/dvt6kjlil/image/upload/v1620214995/menu-icon_rrhktj.png) !important;
    background-repeat: no-repeat !important;
    top: 10px !important;
    transform: rotate(90deg) !important;
    background-size: 24px !important;
}
.lpc_desktop.lpc_maximized-header__menu-button-asset{
    display: none !important;
}

.lpc_desktop.lpc_composer button::focus {
    outline: none !important;
}

.lpc_desktop.lpc_composer__send-button {
    top: 7px !important;
}








/* END CONVERSATION CONFIRMATION */
.lpc_desktop.lpc_confirmation-dialog__title {
    font-family: var(--font-face) !important;
    font-size: 16px !important;
    padding: 0px 0px 20px 0px !important;
    color: #000 !important;
}

.lpc_desktop.lpc_confirmation-dialog__cancel-button {
    width: 50% !important;
    margin: 5% !important;
    margin-left: 25% !important;
    font-family: var(--font-face) !important;
    font-size: 14px !important;
    background: #E9ECEC !important;
    color: #005A2B !important;
}

.lpc_desktop.lpc_confirmation-dialog__confirm-button {
    width: 50% !important;
    margin: 5% !important;
    margin-left: 25% !important;
    font-family: var(--font-face) !important;
    font-size: 14px !important;
    background: #0C121C !important;
    color: #FFFFFF !important;
}

.lpc_message-area__timestamp_auto[title^="Conversation closed"] {
    display: none !important;
}
